<%- include ("partials/header") -%>

<div class="ui main text container">
    <div class="ui huge header">Blog spot</div>
    <div class="ui top attached segment">
        <div class="ui divided items">
            <% blogs.forEach(function(blog){ %>
                <div class="item">
                    <div class="content">
                        <a class="header" href="/blogs/<%= blog._id %>"><%=blog.title%></a>
                        <div class="meta">
                            <span>createdAt <%= blog.createdAt %></span>
                            <span>updatedAt <%= blog.updatedAt %></span>
                        </div>
                        
                        <div class="extra">
                            <p><%= blog.body.substring(0,120) %>....</p>
                            <a class="ui floated basic violet button" href="/blogs/<%= blog._id %>">Read More</a>
                        </div>
                    </div>
                 </div>
            <% }) %>
        </div>
    </div>
</div>

<%- include ("partials/footer") -%>