<%- include ("partials/head") -%>


<section class="mt-5">
    <div class="ui main text container">
        <div class="ui huge header">Gluckicks</div>
        <div class="ui top attached segment">
            <div class="ui divided items">
                <% blogs.forEach(function(blog){ %>
                    <div class="item mb-4">
                        <div class="content">
                            <a class="header " style="text-decoration: none;" href="/blogs/<%= blog._id %>" ><%=blog.title%></a>
                            <div class="card-footer text-muted" style="font-size: smaller;">
                                <span>CreatedAt: <%= moment(blog.createdAt).format('MMMM Do YYYY') %></span>
                            </div>
                            
                            <div class="extra" style="color: rgb(17, 13, 13);">
                                <p><%= blog.body.substring(0,120) %>....</p>
                                <a class="ui floated basic violet button" href="/blogs/<%= blog._id %>">Read More</a>
                            </div>
                            
                        </div>
                        
                     </div>
                <% }) %>
            </div>
        </div>
    </div>
    
</section>

<%- include ("partials/footer") -%>