<%- include ("partials/header") -%>

<div class="ui main text container segment">
	<div class="ui huge header"><%= blog.title %></div>
	<div class="ui top attached ">
		<div class="item">
			<div class="content">
				<span>createdAt <%= blog.createdAt %></span>
                <span>updatedAt <%= blog.updatedAt %></span>
			</div>
			<div>
				<span>createdBy: <%= user %></span>
			</div>
			<div class="description">
        		<p><%- blog.body %></p>
			</div>
			<a class="ui orange basic button" href="/blogs/<%= blog._id %>/edit">EDIT</a>
			<form id="remove" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
				<button class="ui red basic button">DELETE</button>
			</form>
		</div>
	</div>
</div>















<%- include ("partials/footer") -%>