<%- include ("partials/header") -%>

<div class="ui main text container segment">
	<div class="ui huge header"><%= blog.title %></div>
	<div class="ui top attached ">
		<div class="item">
			
			<div class="meta mb-4 mt-3">
				<span>createdAt: <%= moment(blog.createdAt).format('MMMM Do YYYY') %></span>
				<span>updatedAt: <%= moment(blog.updateddAt).format('MMMM Do YYYY') %></span>
			</div>
			
			<div class="description mb-4">
        		<p><%- blog.body %></p>
			</div>
			<% if(currentUser && currentUser.role === 'admin'){ %>
				<a class="ui orange basic button" href="/blogs/<%= blog._id %>/edit">EDIT</a>
				<form id="remove" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
					<button class="ui red basic button">DELETE</button>
				</form>
			<% } %>			
		</div>
	</div>
</div>















<%- include ("partials/footer") -%>